name: Public Release

# on:
#   push:
#     tags: '*.*.*'
    # paths-ignore:
    #   - "package.json"
    #   - "package-lock.json"
    #   - "*.md"
on:
  push:
    tags-ignore:
      - '*.*'
    paths-ignore:
      - "package.json"
      - "package-lock.json"
      - "*.md"
    branches:
      - task/update-workflow
      
jobs:
  build-sdk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT_ACTIONS }}
          ref: task/update-workflow
          fetch-depth: 0

          
      - uses: actions/setup-node@v1
        with:
          node-version: 14.17.6
      - run: npm install
      
      # - name: npm build
      #   run: npm run build-browser-sdk
      #   env:
      #     IFRAME_SECURE_ORGIN: ${{ secrets.PROD_IFRAME_SECURE_ORIGIN }}
      #     IFRAME_SECURE_SITE: ${{ secrets.PROD_IFRAME_SECURE_SITE }}

      # - name: npm build iframe
      #   run: npm run build-iframe
      #   env:
      #     IFRAME_SECURE_ORGIN: ${{ secrets.PROD_IFRAME_SECURE_ORIGIN }}
      #     IFRAME_SECURE_SITE: ${{ secrets.PROD_IFRAME_SECURE_SITE }}
 
      # - name: Deploy to S3
      #   uses: jakejarvis/s3-sync-action@master
      #   with:
      #     args: --acl public-read --delete
      #   env:
      #     AWS_S3_BUCKET: ${{ secrets.BLITZ_AWS_BUCKET_NAME }}
      #     AWS_ACCESS_KEY_ID: ${{ secrets.BLITZ_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.BLITZ_AWS_ACCESS_KEY_SECRET }}
      #     AWS_REGION: ${{ secrets.BLITZ_AWS_REGION }}
      #     SOURCE_DIR: "dist/v1"
      #     DEST_DIR: "v1/"

      - name: build node-sdk
        env:
          IFRAME_SECURE_ORGIN: ${{ secrets.PROD_IFRAME_SECURE_ORIGIN }}
          IFRAME_SECURE_SITE: ${{ secrets.PROD_IFRAME_SECURE_SITE }}
        run: |
          npm run build:types 
          npm run build-node-sdk

      - name: Get Previous tag
        id: previoustag
        uses: WyriHaximus/github-action-get-previous-tag@v1
        with:
          fallback: 1.0.0

      - name: Bump Version
        run: |
           chmod +x ./scripts/bump_version.sh
           ./scripts/bump_version.sh "${{ steps.previoustag.outputs.tag }}"

      - name: Commit changes
        run: |
           git config user.name ${{ github.actor }}
           git config user.email ${{ github.actor }}@users.noreply.github.com
           git add package.json
           git commit -m "[AUTOMATED] Public Release - ${{ steps.previoustag.outputs.tag }}"
           git push origin
          
      - name: publish to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

          
  aws-cf-invalidate:
    runs-on: ubuntu-latest
#     needs: [build-sdk, build-iframe]
    needs: [build-sdk]
    steps: 
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0      
    - name: Configure AWS credentials Prod account
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.PUBLIC_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.PUBLIC_AWS_ACCESS_KEY_SECRET }}
        aws-region: us-east-1
    - name: invalidate-cf-distribution
      run: aws cloudfront create-invalidation --distribution-id ${{ secrets.PUBLIC_CF_DISTRIBUTION_ID }} --paths "/*"
            